<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="title">NEWS SCRAPER IS GO</h1>
            <button id="scrapeBtn">SCRAPE</button>

        </div>
        <a href="/saved">Saved Articles</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="articles">
                {{#each result}}
                {{#unless saved}}
                <div class="article">
                    <h2 class="headline">{{headline}}</h2>
                    <ul>
                        <li>{{summaryOne}}</li>
                        <li>{{summaryTwo}}</li>
                    </ul>
                    <a href={{link}}>Full Story</a>
                    <form action="/update" method="PUT" id="save-article">
                        <input type="hidden" name="id" value={{_id}}>
                        <button class="btn btn-warning btn-sm" type="submit">SAVE</button>
                        <hr />
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {

        $("#scrapeBtn").on("click", function (event) {
            event.preventDefault();
            $.get("/newscrape", function (data) {
                location.reload();
            });
        });

        $("#save-article").on("click", function (event) {
            event.preventDefault();
            console.log("save it!");
            var id = $(this).children().val();
            console.log(id);
            var data = {
                _id: id
            }
            $.ajax("/update/" + id, {
                type: "PUT",
                data: data
            })

        });
    });
</script>